.p1 {
    font-family: Matter;
    
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 18px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 16px;
    }
    @media (max-width: 389px) {
         font-size: 15px;
         
    }
}
.p2 {
    
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 18px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 16px;
    }
    @media (max-width: 389px) {
         font-size: 15px;
    }
}
.p3 {
    
    padding-bottom: 20px;
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 18px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 16px;
    }
    @media (max-width: 389px) {
         font-size: 15px;
    }
}
.p4 {
    
    padding-bottom: 20px;
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 18px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 16px;
    }
    @media (max-width: 389px) {
         font-size: 15px;
    }
}
.div1 {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;
    min-height: 279px;
    width: 900px;
}
.article1 {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
