.div5 {
    width: 100vw;
    max-width: none;
    overflow-x: hidden;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 100px;
    background-color: #fff;
    font-family: Matter;
    width: 100%;
}

@media (max-width: 768px) {
    .section2 {
        padding:  20px;
    }
}

.div2,
.div3,
.div4 {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
}

.div4 {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 56px;
    gap: 2rem;
}

@media (max-width: 768px) {
    .div4 {
        font-size: 1.125rem;
        margin-top: 40px;
        gap: 0.3rem;
    }
}

.hr1 {
    border: none; // clear out any default borders
    border-top: 3px solid black;
    width: 100%;
}
