.div1 {
    align-items: center;
    border-top: 2px solid black;
    display: flex;
    gap: 10px;
    justify-content: start;
    overflow: hidden;
    padding-bottom: 26px;
    padding-top: 26px;
    width: 100%;
}
