.div1 {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: start;
    margin-top: 100px;
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 20px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 18px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 16px;
    }
    @media (max-width: 389px) {
         font-size: 15px;
    }
}
.div2 {
    align-items: center;
    display: flex;
    font-size: 100px;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.header1 {
    align-self: stretch;
    font-weight: 400;
    font-size: 150px;
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 100px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 80px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 56px;
    }
    @media (max-width: 389px) {
         font-size: 44px;
    }
}
