.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 120px;
  padding: 10px;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  font-size: clamp(1.5rem, 10vw, 12.5rem);
  text-align: center;
  align-self: center;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;

    .span1 {
      color: #b7b7b7;
    }
  }

  @media (max-width: 400px) {
    gap: 12px;
    margin-top: 60px;
    padding: 8px;
  }
}

.span1 {
  font-size: 96px;
  line-height: 120%;
  font-weight: 400;
  font-family: 'Twk Lausanne', sans-serif !important;
  color: #000000;
  text-decoration: none;
  letter-spacing: -4px;
  transition: color 0.3s ease;
  align-self: center;

  /* Laptop */
  @media (max-width: 1199px) {
    font-size: 76px;
    letter-spacing: -3px;
  }

  /* Tablets */
  @media (max-width: 809px) {
    font-size: 50px;
    letter-spacing: -2px;
  }

  /* Mobile */
  @media (max-width: 389px) {
    font-size: 30px;
    letter-spacing: 0px;
  }

  /* Larger desktops */
  @media (min-width: 1200px) and (max-width: 1600px) {
    font-size: 76px;
    letter-spacing: -3px;
  }
}
