.ProjectsStyle {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.div1 {
    max-width: none;
}
