.section1 {
    display: flex;
    gap: 40px 100px;
    justify-content: center;
    width: 100%;
    font-size: 100px;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}
.header1 {
    font-size: 250px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.6px;
    font-family: Matter;

  @media (max-width: 1438px) and (min-width: 1200px) {
        font-size: 150px;
    font-weight: 400;
    line-height: 120%;
    //letter-spacing: -0.6px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        font-size: 100px;
    font-weight: 400;
    line-height: 120%;
    //letter-spacing: -0.6px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 70px;
    font-weight: 400;
    line-height: 120%;
    //letter-spacing: -0.6px;
    }
    @media (max-width: 389px) {
        font-size: 56px;
    font-weight: 400;
    line-height: 120%;
    //letter-spacing: -0.6px;
    }
}
