@import '../../styles/general.scss';
:root {
    --max-width: 1200px;
    --side-padding: 1rem;
}

.root {
    display: flex;
    flex-direction: column;
    background-color: var(--snow-white);
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    width: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--side-padding);
    //padding-block: 2rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 40px;
}

.content > * {
    width: 100%;
    max-width: $desktop-width;
}
.full-width {
    max-width: none;
    padding-inline: 0; /* Removes padding */
}
