.section1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 100vw;
}
.div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
.img1 {
    max-width: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.img2 {
    max-width: none;
    width: 100%;
}
.img3 {
    max-width: none;
    width: 100%;
}
.img4 {
    max-width: none;
    width: 100%;
}
.img5 {
    max-width: none;
    width: 100%;
}
.playPauseBtn {
  border: none;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.07);
}