.article1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 160px;
    justify-content: center; 
    padding: 0px; 
    width: 100%;
    background-color: #ffffff;
    max-width: none;
   
}
.div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    width: 100%;
}
.div2 {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.div3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;

    //Laptop
    @media (max-width: 1199px) {
    gap: 120px;
  }

  // Tablets
  @media (max-width: 809px) {
    gap: 80px;
  }

  // Mobile
  @media (max-width: 389px) {
    gap: 30px;
  }
}
