.section1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding-bottom: 40px;
}
.div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.img1 {
    max-width: none;
    width: 100%;
}
.img2 {
}
