@use '@styles/general' as general;

.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 3.5em;
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 1.2em;
    
}
.root, .root * {
  font-family: 'Twk Lausanne', sans-serif !important;
}
.social {
    display: flex;
    height: 30px;
    column-gap: 12px;

    @media (max-width: 1438px) and (min-width: 1200px) {
        height: 30px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        height: 25px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        height: 24px;
    }
    @media (max-width: 389px) {
        height: 20px;
    }
}

.small {
    font-size: 24px;
    margin-top: 18px;
    color: inherit;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid black;
    }
    @media (max-width: 1438px) and (min-width: 1200px) {
        font-size: 24px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        font-size: 22px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 20px;
    }
    @media (max-width: 389px) {
        font-size: 18px;
    }
}
.icon {
    width: 30px;
    height: 30px;
}

@media (width <= general.$mobile-width) {
    .root {
        flex-direction: column;
        row-gap: 24px;
        
    }
}
.name {
    
}
.blur {
    font-size: 18px;
    @media (max-width: 1438px) and (min-width: 1200px) {
        font-size: 18px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        font-size: 16px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 15px;
    }
    @media (max-width: 389px) {
        font-size: 14px;
    }
}
