.article1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    padding: 0px 40px 40px;
    width: 100%;
    background-color: #ffffff;
    max-width: none;
    @media (max-width: 1438px) and (min-width: 1200px) {
        padding: 0px ;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        padding: 0px ;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        padding: 0px ;
    }
    @media (max-width: 389px) {
        padding: 0px ;
    }
    
}
.div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.div2 {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.div3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.img1 {
    max-width: none;
    width: 100%;
}
.header1 {
    font-size: 100px;
    line-height: 120%;
    font-weight: 400;
}
.img2 {
    max-width: none;
    width: 100vw;
}
.button {
    align-items: center;
    align-content: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 120px;
    padding: 10px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;

    /* Remove underline and focus outlines */
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    /* Use clamp for font size on button to scale nicely */
    font-size: clamp(1.5rem, 10vw, 12.5rem);
    align-self: center;
    text-align: center; /* from 24px up to 200px approx */

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;

        .span1 {
            color: #c2181b;
        }
    }

    /* Optional: better spacing on small screens */
    @media (max-width: 400px) {
        gap: 12px;
        margin-top: 60px;
        padding: 8px;
    }
}
.span1 {
    font-size: clamp(2rem, 8vw + 1rem, 14.375rem);
    line-height: 120%;
    font-weight: 400;
    font-family: Matter, sans-serif;
    color: #000000;
    text-decoration: none;
    letter-spacing: -10px;
    transition: color 0.3s ease;
    align-items: center;
    justify-items: center;
    align-self: center;

   //Laptop
    @media (max-width: 1199px) {
    font-size: 76px;
    letter-spacing: -6px;
  }

  // Tablets
  @media (max-width: 809px) {
    font-size: 50px;
    letter-spacing: -3px;
  }

  // Mobile
  @media (max-width: 389px) {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
