.main1 {
    display: flex;
    min-height: auto;
    padding: 0px 40px 40px;
    width: 100vw;
    background-color: #ffffff;
    max-width: none;
    line-height: 111%;
}
.div1 {
    display: flex;
    flex-direction: column;
    gap: 160px;
    width: 100%;
}
.section1 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
}
.div2 {
    display: flex;
    flex-direction: column;
    gap: 120%;
    width: 100%;
    margin-top: 60px;
}
