.header1 {
  font-size: 22px;
  line-height: 24.3px;
  font-weight: 400;
  letter-spacing: -0.2px;
  font-family: Matter;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media (max-width: 1438px) and (min-width: 1200px) {
        font-size: 22px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        font-size: 20px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 18px;
    }
    @media (max-width: 389px) {
        font-size: 16px;
    }
}

.cardContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlayText {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.cardContainer:hover .overlay {
  opacity: 1;
}

.cardContainer:hover .overlayText {
  opacity: 1;
  transform: translateY(0);
}
