.header1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header2 {
    font-size: clamp(3rem, 20vw, 21.875rem);
    line-height: 120%;
    font-weight: 400;
    font-family: Matter;
    text-decoration-color: #000000;
    letter-spacing: -10px;
    @media (max-width: 768px) {
        letter-spacing: -0.3rem;
    }

    @media (max-width: 400px) {
        letter-spacing: normal;
    }
}

.p1 {
    max-width: 400px;
    font-size: 18px;
    line-height: 24.3px;
    align-self: start;
    padding-left: 0px;
    padding-right: 50px;
    padding-bottom: 50px;
    letter-spacing: -0.2px;
    font-weight: 400;
    font-family: Matter;

     @media (max-width: 1438px) and (min-width: 1200px) {
        font-size: 18px;
        line-height: 24.3px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
        font-size: 18px;
        line-height: 24.3pxpx;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 18px;
        line-height: 24.3pxpx;
    }
    @media (max-width: 389px) {
        font-size: 14px;
        line-height: 18.3px;
    }
}
