.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.42px;
    white-space: normal;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 2px solid black; // Allow wrapping on smaller devices
}

.header2 {
    font-family: 'Matter', sans-serif;
    font-weight: 400; // scales from 3rem on small screens up to 18rem on large
    line-height: 1.2;
    letter-spacing: -0.2rem;
    font-size: 250px; // Adjust for tighter spacing on bigger screens

    // Adjust letter-spacing on smaller devices for readability
    @media (max-width: 1438px) and (min-width: 1300px) {
        font-size: 150px;
    }
    @media (max-width: 1299px) and (min-width: 810px) {
        font-size: 120px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
         font-size: 80px;
    }
    @media (max-width: 389px) {
         font-size: 55px;
    }
}

.hr1 {
    border: 1px solid black;
    width: 100%;
}
