.div1 {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: none;
    width: 100%;
}
.div2 {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 40px 100px;
    justify-content: center;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 100px;
    flex-direction: column;
}
.p1 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    line-height: 28px;
    min-width: auto;
    width: auto;
    letter-spacing: -0.2px;
    font-family: Matter;
    font-weight: 300;
    text-align: start;
    border: 0px solid black;
    flex-direction: column;
}
.div3 {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 240px;
    width: 267px;
}
.header1 {
    align-items: center;
    display: flex;
    font-size: 100px;
    font-weight: 400;
    font-family: Matter;
    justify-content: center;
    margin-top: 50px;
    min-height: 121px;
    width: 100%;
    white-space: nowrap;
}
.div4 {
    border-bottom: 2px solid black;
    width: 8px;
}
