.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    letter-spacing: -0.6px;
    width: 60%;
    max-width: none;
    padding: 0;
    text-align: start; // optional for desktop

    @media (max-width: 768px) {
        line-height: 26px;
        font-size: 20px;
        width: 80%;
    }
    @media (max-width: 400px) {
        line-height: 26px;
        font-size: 15px;
        width: 80%;
    }

    a {
        font-weight: 400;
        text-decoration: underline;
        word-break: break-word;
    }
}
.emailLink {
    all: unset; // This resets the browser's default link styles

    font-family: 'Matter', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease;
    letter-spacing: -0.6px;

    &:hover {
        color: #4b4b4b;
    }
    @media (max-width: 768px) {
        line-height: 26px;
        font-size: 20px;
    }
    @media (max-width: 400px) {
        line-height: 26px;
        font-size: 16px;
    }
}
.para {
    font-size: 24px;
    font-family: Matter;

    @media (max-width: 1438px) and (min-width: 1200px) {
       font-size: 24px;
    }
    @media (max-width: 1199px) and (min-width: 810px) {
       font-size: 22px;
    }
    @media (max-width: 809px) and (min-width: 390px) {
        font-size: 20px;
    }
    @media (max-width: 389px) {
        font-size: 18px;
    }
}
