.section1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    letter-spacing: 0.42px;
    overflow: hidden;
    width: 100vw;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20%;
    @media (max-width: 768px) {
        //padding-top: 100px;
        padding-bottom: 100px;
        // padding-right: 20px;
        // padding-left: 20px;
        text-align: left;
        line-height: 26px;
    }
    @media (max-width: 400px) {
        padding-top: 50px;
        padding-bottom: 50px;
        // padding-right: 20px;
        // padding-left: 20px;
        text-align: left;
        line-height: 26px;
    }
}
.div1 {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 700px;
    justify-content: start;
    max-width: none;
    width: 100vw;
    padding: 0px, 1000px;

    @media (max-width: 768px) {
        // padding-left: 30px;
        // padding-right: 30px;
        text-align: left;
        line-height: 26px;
    }
    @media (max-width: 400px) {
        // padding-left: 30px;
        // padding-right: 30px;
        text-align: left;
        line-height: 26px;
    }
}
.div2 {
    background-color: #ffffff;
    max-width: none;
    width: 100vw;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
}
