.section1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    letter-spacing: 0.42px;
    overflow: hidden;
    width: 100vw;
    padding: 0px;
    @media (max-width: 768px) {
        //padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 200px;
        padding-left: 200px;
        text-align: left;
        line-height: 26px;
    }
    @media (max-width: 400px) {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        text-align: left;
        line-height: 26px;
    }
}
.div1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    justify-content: center;
    max-width: none;
    width: 100vw;
    padding: 100px;

    @media (max-width: 768px) {
        padding: 60px;
        text-align: left;
        line-height: 26px;
    }
    @media (max-width: 400px) {
        padding: 30px;
        text-align: left;
        line-height: 26px;
    }
}
.div2 {
    background-color: #ffffff;
    max-width: none;
    width: 100vw;
}
